.auth-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.form-section {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.form-section .Toastify__toast-container--top-center {
  left: 25%;
  transform: translate(-50%);
}

.form-header-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 329px;
}

.form-section h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: black;
}

.form-section p {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.5;
  color: black;
}

.form-group .label {
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
}

.form-group input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f7fbff;
}

.forgot-password {
  float: right;
  font-size: 16px;
  color: #1e4ae9;
  margin-bottom: 20px;
}

.forgot-password:hover {
  color: #1e4ae9;
  cursor: pointer;
}

.form-button {
  width: 100%;
  background-color: #162d3a;
  color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 16px;
}

.form-signup-text {
  font-size: 16px;
  text-align: center;
  color: black;
}

.form-signup-text span {
  color: #1e4ae9;
  cursor: pointer;
}

.form-footer-section {
  font-size: 12px;
  color: #959cb6;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.image-section {
  div {
    color: white;
    width: 100%;
    height: 100%;

    background-image: url(../../assets/login-banner-img-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
  }

  .image-section {
    order: 1;
    margin: 5px;
  }

  .image-section {
    div {
      color: white;
      max-width: 329px;
      height: 180px;

      background-image: url(../src/assets/login-banner-img-mobile.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
  }

  .form-section {
    order: 2;
    margin: 5px;
  }

  .form-section h1 {
    font-size: 24px;
  }

  .form-section p {
    font-size: 16px;
  }
  .form-footer-section {
    margin-bottom: 10px;
  }

  .form-section .Toastify__toast-container--top-center {
    left: 50%;
    transform: translate(-50%);
  }
}
